In [1]:
import pandas as pd

In [3]:
scores = pd.DataFrame({'test_one':[65, 70, 80, 90],'test_two':[68, 75, 85, 95]})

In [4]:
scores

   test_one  test_two
0        65        68
1        70        75
2        80        85
3        90        95

In [7]:
scores[scores['test_one']<=70]['test_two'] = scores[scores['test_one']<=70]['test_two'] /10
#values doesnt get changes. 
scores

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   test_one  test_two
0        65        68
1        70        75
2        80        85
3        90        95

In [9]:
scores.loc[scores['test_one']<=70, 'test_two'] = scores.loc[scores['test_one']<=70, 'test_two'] /10
#values doesnt get changes. 
scores

   test_one  test_two
0        65       6.8
1        70       7.5
2        80      85.0
3        90      95.0

In [ ]:
#The rule is any time you see ][ Replace that with a .loc[..., ...], that should avoid the problems