# loc vs .loc

In [10]:
# Import pandas library
import pandas as pd
 
# initialize list of lists
data = [['tom', 10, 'M'], ['nick', 15, 'M'], ['juli', 14, 'F']]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Gender'])
 
# print dataframe.
df

df = df.set_index('Name')

df

      Age Gender
Name
tom    10      M
nick   15      M
juli   14      F

In [11]:
#.loc for label-based indexing


df.loc[['tom', 'nick']]

      Age Gender
Name
tom    10      M
nick   15      M

In [14]:
#.iloc for positional indexing
df.iloc[[1,2]]

      Age Gender
Name
nick   15      M
juli   14      F